<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="millimetrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Analytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <millimetrics.Properties.Settings>
            <setting name="millimetrics_withinshared_Report" serializeAs="String">
                <value>http://localhost:51113/ws/Report.asmx</value>
            </setting>
        </millimetrics.Properties.Settings>
        <Analytics.Properties.Settings>
            <setting name="Analytics_localhost_Report" serializeAs="String">
                <value>http://localhost:54873/ws/Report/Report.asmx</value>
            </setting>
        </Analytics.Properties.Settings>
    </applicationSettings>
</configuration>