<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XendApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <XendApp.Properties.Settings>
            <setting name="XendApp_com_xendapp_MessageService" serializeAs="String">
                <value>http://xendapp.com/services/MessageService.svc</value>
            </setting>
            <setting name="XendApp_com_xendapp_channelservice_ChannelService"
                serializeAs="String">
                <value>http://xendapp.com/services/ChannelService.svc</value>
            </setting>
            <setting name="XendApp_com_xendapp_providerservice_ProviderService"
                serializeAs="String">
                <value>http://xendapp.com/Services/ProviderService.svc</value>
            </setting>
            <setting name="XendApp_com_xendapp_userservice_UserService" serializeAs="String">
                <value>http://xendapp.com/Services/UserService.svc</value>
            </setting>
        </XendApp.Properties.Settings>
    </applicationSettings>
</configuration>